.aboutme {
  &-design {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    position: absolute;
    background-color: $color-black;
    height: 100%;
    width: 45%;
    right: 0;
    top: 0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%, 0 70%);
  }
  &-foto {
    display: none;
  }
  &-titel {
    margin-left: 20%;
    color: $accent-color;
    font-style: italic;
    font-weight: lighter;
    font-size: $font-size-h;
  }
  &-text {
    width: 55%;
    margin-left: 15%;
    font-size: $font-size-p2;
    line-height: 50px;
    text-indent: 35px;
    font-style: italic;
    color: $inactive-color;
    z-index: -10;
  }
}
