@import "var";
@media screen and (max-width: $mobile-version) {
  .nav-toggle__btn {
    margin-top: 10px;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 111;
  }
  .nav-main {
    width: 30vw;
    translate: -100%;
    background-color: $color-black;
    backdrop-filter: opacity(20%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    &__close-btn{
      display: block;
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: $color-black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.6rem;
    position: absolute;
    top: 0.5rem;
    left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    }
    &__icons {
      display: none;
    }
  }
  .active {
    transform: translateX(65%);
    transition: transform 1s ease-in-out;
  }
  .home-design {
    height: 30%;
    width: 100%;
  }
  .home-foto {
    height: 17vh;
    width: auto;
    border-radius: 50%;
    top: 0;
    right: 0;
    margin-top: 7%;
    background: #ffffff;
    box-shadow: 5px 5px 5px #0d0c0c, -3px -3px 10px #ffffff;
  }
  .home-titel__1 {
    margin-left: 5%;
  }
  .home-titel__2 {
    margin-left: 15%;
  }
  .home {
    &-desc {
      margin-top: 30%;
      width: 150vw;

      &__text {
        line-height: 7vw;
      }
    }
    &-skills {
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      &__ul {
        margin-top: 80px;
      }
    }
  }
  .aboutme {
    &-design {
      width: 100%;
      height: 25%;
      z-index: -1;
    }
    &-foto {
      display: block;
      position: absolute;
      height: 16vh;
      width: 14vh;
      border-radius: 50%;
      top: 0;
      right: 0;
      margin-right: 5%;
      margin-top: 7%;
      background: #ffffff;
      box-shadow: 5px 5px 5px #0d0c0c, -3px -3px 10px #ffffff;
    }
    &-text {
      margin-top: 17%;
      color: $color-black;
      line-height: 2rem;
      width: 75%;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 92vh;
    height: 8vh;
    width: 100%;
    background-color: $color-black;
    &-a {
      width: 25px;
    }
  }
  .footer_prj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 200vh;
    height: 8vh;
    width: 100%;
    background-color: $color-black;
    &-a {
      width: 25px;
    }
  }
  .projects {
    &-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &__img {
      width: 40vw;
      height: 20vh;
      margin-top: 5%;
    }
  }
  .projects-1__text {
    width: 75vw;
  }
  .contact {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-foto {
      &__img {
        display: none;
      }
      &__resp {
        
        display: block;
        width: 50vw;
      }
    }
  }
}
