@import "var";
.projects {
  &-titel {
    margin-left: 20%;
    
    font-weight: lighter;
    font-style: italic;
  }
  &-1{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    &__text{
        margin-right: 20%;
        width: 40vw;
        line-height: $line-height-text;
    }
  }
}