$color-black: #312E2E;
$color-white: white; 
$accent-color: #ee819c;
$inactive-color: rgb(188, 186, 186);
$mobile-version: 576px;
$font-size-h: clamp(24px, 3vw, 48px);
$font-size-p: clamp(13px, 2vw, 30px);
$font-size-li: clamp(13px, 2vw, 20px);
$font-size-p2: clamp(13px, 2vw, 20px);
$line-height-text: 2em;